:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
  --background-color-2: #0c0c0cb4;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu-btn{
  display: none;
}
/* HEADER */
body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--background-color-2);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 0 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#logo {
  max-height: 100%;
  height: 80px;
  margin-left: 20px; 
}

header > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header > ul > li {
  margin: 0 15px; 
}

header > ul > li > a {
  display: flex;
  text-decoration: none;
  color: white; 
  font-size: 18px; 
  transition: color 0.3s;
}

header > ul > li > a:hover {
  color: #ffcc00;
}

#cesta {
  position: relative;
  margin-right: 20px; 
}

#cesta > img {
  height: 50px; 
  transition: transform 0.3s; 
}

#cesta > img:hover {
  transform: scale(1.1);
}


/* MAIN */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
#cabecera-img{
  width: 100%;
  height: 200px;
}

/* FILTROS */

/* Estilos para el modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

/* Estilos para el contenedor del modal */
#filter-modal {
  display: none;
  justify-content: center;
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 20px;
}

/* Estilos para el contenedor de filtros */
#filtros {
  width: 100%;

}

/* Título centrado */
#filtros h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Contenedor para los inputs en fila */
#filtros .input-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

/* Inputs en la primera fila */
#filtros select,
#filtros input[type="text"] {
  flex: 1;
  min-width: 150px;
}

/* Inputs de precios en la segunda fila */
#filtros #priceInput-min,
#filtros #priceInput-max {
  flex: 1;
  min-width: 150px;
}

/* Botones en fila */
#filtros .button-group {
  display: flex;
  gap: 10px;
}

/* Estilos para los botones */
#filtros .button-group button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
}

/* Boton mostrar filtros */
#open-modal-btn {
  
  background-color: #6aa8eb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px; 
  cursor: pointer; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 16px;
  transition: background-color 0.3s; 
}
#open-modal-btn:hover {
  background-color: #0056b3; 
}

/* Crear una flecha hacia abajo */
#open-modal-btn::after {
  content: ''; /* Sin contenido de texto */
  display: block; /* Para que sea un bloque */
  width: 0; /* Ancho de 0 */
  height: 0; /* Alto de 0 */
  border-left: 5px solid transparent; /* Borde izquierdo transparente */
  border-right: 5px solid transparent; /* Borde derecho transparente */
  border-top: 5px solid rgb(255, 255, 255); /* Borde superior blanco */
}


/* PRODUCTO-MAIN */

#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-top: 10px;
}

#productos > p {
  width: 100vw;
  text-align: center;

}

.producto {
  text-align: center;
  height: auto;
  width: 250px;
  border: 2px solid gray;
  border-radius: 25px;
  padding-bottom: 3px;
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s;
}



.producto:hover {
  transform: scale(1.05); 
}

.producto > img {
  height: auto;
  width: 100%;
  border-top-left-radius: 25px; 
  border-top-right-radius: 25px;
}

.producto > h2 {
  font-size: 20px; 
  color: #333; 
  margin: 10px 0; 
  font-weight: bold; 
}


.producto > p:first-of-type {
  font-size: 24px; 
  color: #e91e63; 
  margin: 5px 0; 
  font-weight: bold; 
}

.producto > p:nth-of-type(2) {
  font-size: 18px; 
  color: #757575;
  margin-bottom: 10px; 
  font-style: italic; 
}
.producto > button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* FOOTER */
footer {
  display: flex;
  background-color: var(--background-color-2);
  width: 100%;
  justify-content: space-around; 
  padding: 20px 0; 
  color: white; 
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /
}

footer > ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  width: 200px; 
}

footer > ul > li {
  margin: 10px 0; 
}


footer > ul > li > a {
  font-size: 16px; 
  color: inherit;
  text-decoration: none;
}

footer > ul > li > a > h4 {
  font-size: 20px;
  margin-bottom: 10px;  
  padding-bottom: 5px; 
}

footer > ul > li > a:hover {
  color: #ffcc00;
  cursor: pointer; 
}

footer > ul > li:not(:first-child) {
  padding-left: 15px;
}

@media (max-width: 565px){

  /* header */
header {
  height: 50px;
}

#menu-btn {
  display: block;
}
#menu-btn > img {
  max-height: 100%;
  height: 40px; 
  background-color: transparent;
}
#categorias{
  display: none;
}
#cesta {
 order: 3;
}
/* MAIN */
/* PRODUCTO */
.producto{
  width: 150px; 
}

.producto > h2 {
  font-size: 16px; 
}

.producto > p:first-of-type {
  font-size: 18px; 
}

.producto > p:nth-of-type(2) {
  font-size: 14px; 
}

.producto > button {
  padding: 8px 16px; 
  font-size: 14px; 
}

/* footer */
footer {
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

footer > ul {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

footer > ul > li {
  margin: 5px 0;
}

footer > ul > li > a {
  font-size: 14px;
}

footer > ul > li > a > h4 {
  font-size: 18px;
}


}

